<ion-header>
  <ion-toolbar>
    <ion-title>
      CodeMash 2020
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [href]="'/session-detail/'+ session.id" *ngFor="let session of sessionData.getSesssions()">
      <ion-thumbnail class="sessionIcon" [ngSwitch]="sessionData.getSessionType(session)" slot="start">
        <img *ngSwitchCase="'precompiler'" src="../../assets/icon/PreCompiler.png" />
        <img *ngSwitchCase="'general session'" src="../../assets/icon/GeneralSession.png" />
        <img *ngSwitchCase="'kidzmash sessionz'" src="../../assets/icon/KidMashSession.png" />
        <img *ngSwitchCase="'kidzmash divez'" src="../../assets/icon/KidMashDivez.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{session.title}}</h2>
        <ion-badge *ngFor="let tag of sessionData.getSessionTags(session)" item-end>{{tag.name}}</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>



